*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/secrets/
/app/release/
/app/google-services.json
fastlane/report.xml
*.aab
*.apk
